html, body, #root {
  height: 100%;
}

.view {
  display: flex;
}

.content {
  flex: 1;
  position: relative;
}

.content-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}

.info-tag {
  margin: 10px 5px;
}

.tag.action-tag {
  margin: 5px;
  font-size: 12px;
}